# VSCode settings and history
.vscode/
.history/
prompt
# Catkin workspace marker
.catkin_workspace

# ROS build artifacts
build/
devel/
bin/
lib/*.so

# IDE/project files
*.project
*.pydevproject
*.cproject


# Python cache files
__pycache__/
__init__.py
